* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.base-button {
    min-height: 32px;
    padding: 6px 21px;
    background: #F4F2F7;
    border: none;
    border-radius: 12px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $baseTextColor;

    &--active {
        background: #9578ED;
        color: #ffffff;
    }
}