* {
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.base-button {
    min-height: 32px;
    padding: 6px 21px;
    background: #F4F2F7;
    border: none;
    border-radius: 12px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $baseTextColor;

    &--active {
        background: #9578ED;
        color: #ffffff;
    }

    &--accent {
        color: #9578ED;
    }
}

.account-preview {
    min-height: 64px;
    padding: 12px 16px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    background: #ECE9F3;
    border-radius: 8px;

    &:not(:last-child) {
        margin-bottom: 19px;
    }

    img {
        margin-right: 14px;
    }

    .value {
        margin-left: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #000000;
    }

    &.selected::after {
        content: '';
        position: absolute;
        right: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
        background: #9578ED;
        border-radius: 1000px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('~@/assets/img/checkbox-icon.svg');
    }
}