.history {
    padding-top: 24px;
    h2 {
        margin-bottom: 31px;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
    }

    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .value {
            margin-left: auto;
        }
    }
}