.list {
    align-items: flex-start;
    padding: 12px 16px;
    min-height: 218px;
    background: #F4F2F7;
    border-radius: 12px;

    &-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }

    p {
        align-self: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: auto;
        color: #8D839D;
    }
}